.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #E1E4E0;
    margin-top: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.todo-item:hover {
    color: white;
    background-color: #465d97;
}

.todo-item .Icon-container-check  {
    display: inline;
    width: 4%;
    padding: 6px 10px;
}


.delete-item {
    z-index: 0;
    display: inline;
    width: 4%;
    padding: 6px 10px;
}

.delete-item:hover .Icon-svg{
    fill: red;
}

.check-item {
    padding: 15px;
    font-size: 17px;
    font-weight: 900;
}

.check-item-checked {
    color: #1EC48C;
}

.item-text {
    width: 92%;
    font-size: 97%;
    text-align: justify;
}

.item-text-complete {
    text-decoration: line-through;
}

.select-item {
    width: 95%;
    display: inline-flex;
    align-items: center;
}

span.Icon-container.Icon-container-delete {
    display: flex;
    padding: 4px;
}